
@{
    ViewData["Title"] = "LogOut";
}

<h1>Hello.. @User.Identity.Name</h1>
<h1>Are you sure want to logOut? If yes, <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogMeOut" >Logout</a></h1>

